* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(./img/header.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    height: 30vh;
    padding-top: 4rem;
    padding-left: 4rem;
}

.lunch {
    color: white;
    background-color: rgb(25, 0, 92);
    font-weight: 500;
    padding: 0 20px;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 6rem;
}

span {
    font-weight: bold;
}


.main {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". .";
    justify-items: center;
    align-items: center;
}

.text {
    margin: 3em;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

.calendar-section {
    background-color: rgb(195, 195, 195);    
}

.calendar {
    width: 110px;
}

.date {
    color: rgb(25, 0, 92);
}

.button {
    color: white;
    background-color: rgb(25, 0, 92);
    padding: 0 20px;
    font-weight: 400;
    text-decoration: none;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1em;
}